@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .silver-text {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.6),
                 0 0 10px rgba(255, 255, 255, 0.4),
                 0 0 15px rgba(255, 255, 255, 0.2);
  }

  .silver-text-subtle {
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.5),
                 0 0 6px rgba(255, 255, 255, 0.25);
  }

  .silver-text-light {
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.3),
                 0 0 4px rgba(255, 255, 255, 0.15);
  }

  .animate-gradient-x {
    background-size: 200% 100%;
    animation: gradientX 5s ease infinite;
  }

  @keyframes gradientX {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

